@model IEnumerable<ProjetoLP3_4bim.Models.Bairro>

@{
    ViewData["Title"] = "Lista de Bairros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Bairros</h2>

<p>
    <a asp-action="Create">Cadastrar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeBairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaisIdPaisNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeBairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaisIdPaisNavigation.NomePais)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdBairro">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdBairro">Detahes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdBairro">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
