@model IEnumerable<ProjetoLP3_4bim.Models.Estoque>

@{
    ViewData["Title"] = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista</h2>

<p>
    <a asp-action="Create">Cadastrar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QtdLivro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LivroIdLivroNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LivrariaIdLivrariaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QtdLivro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LivroIdLivroNavigation.TituloLivro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LivrariaIdLivrariaNavigation.EmailLivraria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEstoque">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdEstoque">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEstoque">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
