@model IEnumerable<ProjetoLP3_4bim.Models.Estoque>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Cadastrar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QtdLivro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LivroIdLivroNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QtdLivro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LivroIdLivroNavigation.TituloLivro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEstoque">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdEstoque">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEstoque">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
