@model ProjetoLP3_4bim.Models.GeneroLivro

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>GeneroLivro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeGeneroLivro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeGeneroLivro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DesGeneroLivro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DesGeneroLivro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdGeneroLivro">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
