@model IEnumerable<ProjetoLP3_4bim.Models.GeneroLivro>

@{
    ViewData["Title"] = "Lista de Gêneros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Gêneros</h2>

<p>
    <a asp-action="Create">Cadastrar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeGeneroLivro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DesGeneroLivro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeGeneroLivro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesGeneroLivro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdGeneroLivro">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdGeneroLivro">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdGeneroLivro">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
