@model IEnumerable<ProjetoLP3_4bim.Models.Editora>

@{
    ViewData["Title"] = "Lista de Editoras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Editoras</h2>

<p>
    <a asp-action="Create">Cadastrar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeEditora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelEditora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailEditora)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeEditora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TelEditora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailEditora)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdEditora">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdEditora">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdEditora">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
