@model ProjetoLP3_4bim.Models.Endereco

@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Endereço</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumeroEndereco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroEndereco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RuaIdRuaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RuaIdRuaNavigation.NomeRua)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdEndereco">Edit</a> |
    <a asp-action="Index">Voltar para Lista</a>
</div>
