@model ProjetoLP3_4bim.Models.Livraria

@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Livraria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeLivraria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeLivraria)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TelLivraria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TelLivraria)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailLivraria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailLivraria)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnderecoIdEnderecoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnderecoIdEnderecoNavigation.RuaIdRuaNavigation.NomeRua), @Html.DisplayFor(model => model.EnderecoIdEnderecoNavigation.NumeroEndereco)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdLivraria">Editar</a> |
    <a asp-action="Index">Voltar para Lista</a>
</div>
