@model IEnumerable<ProjetoLP3_4bim.Models.Livraria>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeLivraria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelLivraria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailLivraria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnderecoIdEnderecoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeLivraria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelLivraria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailLivraria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnderecoIdEnderecoNavigation.IdEndereco)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdLivraria">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdLivraria">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdLivraria">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
